.header {
    text-align: center;
    font-size: 30px;
  }
  .header2 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  .para {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
  }
  a:hover {
    color: green;
  }
  .link {
    margin: 50px;
    font-size: 20px;
  }
  hr {
    border: none;
    height: 6px;
    color: green;
    background-color:green;
  }
  .video{
      display: block;
      height: 600px;
      margin-left: auto;
      margin-right:auto
  }